{% extends 'basic.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>
            {% if form.errors %}
                <div class="text-danger fw-bolder">
                    {% for key,value in form.errors.items %}
                        {{value}}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                <label class="p-2 fw-bolder">{{field.label}}:</label>
                {{field}}
            {% endfor %}
        </p>
        <button type="submit" class="btn-theme rounded border-0">Отправить</button>
    </form>
{% endblock %}
