{% extends 'basic.html' %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="w-50 mx-auto">
            <form method="post" enctype="multipart/form-data" class="form-floating">
                {% csrf_token %}
                {{ form.as_p }}

                {% if section == 'register'%}
                <button type="submit" class="btn-theme border-0 w-25 rounded">Регистрация</button>
                {% else %}
                <button type="submit" class="btn-theme border-0 w-25 rounded">Сохранить</button>
                {% endif %}

                <a href="{% url 'index' %}" class="btn-theme btn-my-link w-25 rounded">На главную</a>
            </form>
        </div>
    </div>

{% endblock %}
