{% extends 'basic.html' %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="w-50 mx-auto">
            <form method="post" enctype="multipart/form-data" class="form-floating">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-theme border-0 w-25 rounded">Отправить</button>
                <a href="{% url 'authen:login' %}" class="btn-theme rounded btn-my-link w-25">Войти</a>
            </form>
        </div>
    </div>

{% endblock %}
