{% load static %}

<div class="header">
    <div id="header__panel" class="d-flex justify-content-between">
        <div class="fw-bolder">
            <a href="{% url 'index' %}" class="text-decoration-none text-light">
                <img class='header__logo' src="{% static 'favicon.ico' %}" title="На главную">
            </a>
            Cервис управления рассылками
        </div>

        <div class="main-menu">
            {% if perms.authen.view_admin_panel %}
                <a href="/admin/" class="auth-user-link" >Админка</a>
            {% endif %}

            {% if user.is_authenticated %}
                <a href="{% url 'authen:profile' %}" class="auth-user-link" title="Профиль">{{user}}</a>
            {% else %}
                <div id="no-auth-user" class="opacity-75">Вход не выполнен</div>
            {% endif %}

            <button id="switch-menu-display" class="btn m-0 p-0" title="Главное меню">
                <img src="{% static 'menu.ico'%}" class="text-light">
            </button>
            {% if user.is_authenticated %}
                <div id="main-menu" class="main-menu__menu d-none rounded">
                    {% if perms.authen.view_user %}
                        <a href="{% url 'authen:index' %}" class="main-menu__item rounded">Пользователи</a>
                    {% endif %}

                    {% if perms.letters_sending.view_owner_letterssending %}
                        <a href="{% url 'letter_sending_list' %}" class="main-menu__item rounded">Рассылки</a>
                    {% endif %}
                    {% if perms.letters_sending.view_owner_message %}
                        <a href="{% url 'message_list' %}" class="main-menu__item">Сообщения</a>
                    {% endif %}
                    {% if perms.letters_sending.view_owner_client %}
                        <a href="{% url 'client_list' %}" class="main-menu__item">Клиенты</a>
                    {% endif %}
                    <a href="{% url 'stat_list' %}" class="main-menu__item">Статистика</a>
                    <a href="{% url 'blog:index' %}" class="main-menu__item">Блоги</a>

                    <div class="text-light">-</div>
                    <a href="{% url 'authen:logout' %}" class="main-menu__item rounded">Выйти</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
