{% extends 'basic.html' %}
{% load custom_tags %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center bg-white box-shadow-white p-4">
    <div class="text-center mb-2">
        <div class="fw-bolder">Тема сообщения</div>
        <p class="border-2 border-bottom p-1">{{object.message}}</p>

        <div class="fw-bolder">Автор</div>
        <p class="border-2 border-bottom p-1">{{object.owner}}</p>

        <div class="fw-bolder">Клиенты</div>
        <div class="border-2 border-bottom p-1 mb-3">
            {% for client in object.clients.all %}<div>{{client}}</div>{% endfor %}
        </div>

        <div class="fw-bolder">Дата первой отправки</div>
        <p class="border-2 border-bottom p-1">{{object.first_sending|date:"d-m-Y, G:i:s"}}</p>

        <div class="fw-bolder">Дата следующей отправки</div>
        <p class="border-2 border-bottom p-1">{{object.next_sending|date:"d-m-Y, G:i:s"}}</p>

        <div class="fw-bolder">Периодичность</div>
        <p class="border-2 border-bottom p-1">{{object.period}}</p>

        <div class="fw-bolder">Статус</div>
        <p class="border-2 border-bottom p-1">{{object.status}}</p>
    </div>

    <div class="mb-2">
        {% if perms.letters_sending.deactivate_letterssending and object.status.name == 'launched' %}
            <a href="{% url 'letter_sending_edit' object.pk %}" class="btn-theme rounded">Отключить рассылку</a>
        {% endif %}
        {% if perms.letters_sending.change_message or user == object.owner %}
            <a href="{% url 'letter_sending_edit' object.pk %}" class="btn-theme rounded">Изменить</a>
        {% endif %}
        {% if perms.letters_sending.delete_message or user == object.owner %}
            <a href="{% url 'letter_sending_delete' object.pk %}" class="btn-theme rounded">Удалить</a>
        {% endif %}
        {% if perms.letters_sending.delete_message %}
        {% endif %}
    </div>
</div>

{% endblock %}
