{% extends 'basic.html' %}
{% load custom_tags %}

{% block content %}

<div class="d-flex flex-wrap mb-2">
    {% for object in object_list%}
        <article class="border border-2 pb-3 mb-1 me-1" style="width: 20rem;">
          <div class="h-50 mb-2">
              <img src="{{object.image|full_image_path}}" class="card-img-top h-100" alt="{{object.image}}">
          </div>
          <div class="h-50 d-flex flex-column justify-content-between px-2">
            <div>
                <h5 class="card-title" title="{{object.header}}">{{object.header|truncatechars:25}}</h5>
                <p class="card-text">{{object.content|truncatechars:120}}</p>
            </div>

            <div>
                <div class="card-text text-center fst-italic">Публикация: {{object.published_at}}</div>
                <div class="card-text text-center fst-italic">Просмотров: {{object.views_count}}</div>
                <a href="{% url 'blog:detail' object.pk %}" class="btn-theme rounded d-block w-50 mx-auto">Подробнее</a>
            </div>
          </div>
        </article>
    {% endfor %}
</div>

{% endblock %}
