{% extends 'basic.html' %}
{% load custom_tags %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center bg-white box-shadow-white p-2">
    <h3 class="mb-3">{{object.subject}}</h3>
    {% autoescape off %}<p class="w-75 text-center p-2 border-top border-bottom">{{object.content}}</p>{% endautoescape off %}

    <div class="mb-2">
        {% if user.is_authenticated %}
            <a href="{% url 'message_edit' object.pk %}" class="btn-theme rounded d-inline-block">Изменить</a>
            <a href="{% url 'message_delete' object.pk %}?type=detail" class="btn-theme rounded d-inline-block">Удалить</a>
        {% endif %}
        <a href="{% url 'message_list' %}?type=detail" class="btn-theme rounded d-inline-block">Назад</a>
    </div>
</div>
{% endblock %}
