{% extends 'basic.html' %}
{% load custom_tags %}

{% block content %}

{% if perms.letters_sending.add_client %}
    <div class="ps-2 mb-4">
        <a href="{% url 'client_create' %}" class="btn-theme rounded">Добавить клиента</a>
    </div>
{% endif %}

<div class="d-flex flex-wrap">
    {% for client in object_list%}
    <div class="card m-2 p-4 d-flex flex-column justify-content-between" style="width: 15rem">
        <div class="d-flex flex-column justify-content-between h-100">
            <div>
                <div class="fw-bolder mb-2">
                    <div class="card-text">{{client.surname}}</div>
                    <div class="card-text">{{client.name}}</div>
                    {% if client.patronym %}
                        <div class="card-text">{{client.patronym}}</div>
                    {% else %}
                        <div class="card-text text-light">-</div>
                    {% endif %}
                </div>

                <div class="card-text mb-2">{{client.email}}</div>

                {% if client.comment%}
                    <div class="card-text mb-2 fs-6 text-wrap"><div class="fw-bolder">Заметка:</div> &nbsp;{{client.comment}}</div>
                {% else %}
                    <br>
                {% endif %}

            </div>

            {% if perms.letters_sending.view_client %}
                <div class="card-text mb-2 fst-italic text-secondary" title="{{client.owner.email}}">автор - {{client.owner}}</div>
            {% endif %}
        </div>

        <div>
            {% if perms.letters_sending.change_client %}
                <a href="{% url 'client_edit' client.pk %}" class="d-block btn-theme mb-1 w-100 rounded">Изменить</a>
            {% endif %}
            {% if perms.letters_sending.delete_client %}
                <a href="{% url 'client_delete' client.pk %}" class="d-block btn-theme w-100 rounded">Удалить</a>
            {% endif %}
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}
